:root {
  --max-width: 1680px;
  --header-height: 100px;
  --border-radius: 8px;

  /* COLORS */
  --color-base: #434343;
  --color-inverted: #F8F8F8;
  --color-secondary: #5C0000;
  --color-white: #FFFFFF;
  --background-base: var(--color-inverted);

  /* FONTS */
  --font-family-main: 'Source Serif Pro', 'Droid Sans Mono';
  --font-size-s: 16px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 24px;
  --font-line-m: 32px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 32px;
  --font-line-l: 40px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 40px;
  --font-line-xl: 48px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --font-size-xxl: 48px;
  --font-line-xxl: 56px;
  --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);
  --font-size-xxxl: 56px;
  --font-line-xxxl: 64px;
  --font-xxxl: var(--font-size-xxxl) / var(--font-line-xxxl) var(--font-family-main);

  --box-shadow-base: 3px 3px 10px rgba(67, 67, 67, 0.5);
  --box-shadow-primary: 3px 3px 10px rgba(67, 67, 67, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font: var(--font-m);
}

body {
  color: var(--color-base);
  font: var(--font-s);
  background: var(--background-base);
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}
